---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="top-header container">
				<img
					src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.6.73/mercadolibre/logo_large_25years_v2.png"
					alt="LOGO"
				/>
				<div class="input">
					<input placeholder="Escribe algo y encuentra" type="text" />
					<button>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="size-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
							></path>
						</svg>
					</button>
				</div>

				<p>publicidad</p>
			</div>
		</header>
		<div class="h-72 bg-gradient-to-b to-60% from-[#d3c506] to-[rgb(192, 189, 189)]"></div>
		<div class="banner"></div>
		<div class="mt-[-80px] h-60 flex gap-2 max-w-[1200px] mx-auto  container">
			<div class="min-w-44 bg-white border rounded-md grow">1</div>
			<div class="min-w-44 bg-white border rounded-md grow">2</div>
			<div class="min-w-44 bg-white border rounded-md grow">3</div>
			<div class="min-w-44 bg-white border rounded-md grow">4</div>
			<div class="min-w-44 bg-white border rounded-md grow">5</div>
			<div class="min-w-44 bg-white border rounded-md grow">6</div>
		</div>

		<div
			class="hover:bg-sky-700 bg-yellow-400 items-center text-white py-2 px-4 inline-flex rounded-2xl transition-colors duration-1000 hover:cursor-pointer group"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-4 mr-1 mt-[2px] group-hover:animate-spin"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
				></path>
			</svg>

			Presioname
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-4 mt-1"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
			</svg>
		</div>
	</body>
</html>
<style>
	html,
	body {
		padding: 0;
		margin: 0;
		background-color: rgb(192, 189, 189);
	}
	header {
		background: #d3c506;
		height: 80px;
		padding-top: 12px;
	}
	header img {
		width: 120px;
		padding-top: 12px;
	}
	header input {
		width: 80%;
		box-sizing: border-box;
		display: inline;
		padding: 10px 8px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: none;
		outline: none;
		height: 36px;
	}
	header button {
		display: inline;
		width: 32px;
		border: none;
		background: white;
		height: 36px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.input {
		display: flex;
		align-items: center;
	}
	/*.banner {
		height: 280px;
		background: linear-gradient(
			to bottom,
			#d3c506 70%,
			rgb(192, 189, 189) 100%
		);
	}*//*
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	/*.cards {
		margin-top: -80px;
		height: 240px;
		display: flex;
		gap: 10px;
	}
	/*.card {
		min-width: 180px;
		background-color: #fff;
		border-radius: 6px;
		flex-grow: 1;
	}*/
	.top-header {
		column-count: 3;
	}
</style>
